body {
font-family: Arial;
background: #f2f2f2;
margin: 30px;
}
table {
border-collapse: collapse;
width: 60%;
}
th, td {
border: 1px solid #ccc;
padding: 8px;
}
a {
text-decoration: none;
color: blue;
}
h1 {
color: #333;
}
